/* Browser Reset code */
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}
/* Browser Reset code */

/*Some Reusable styles*/
body{
    font-family: 'Work Sans', sans-serif;
}
.container{
    max-width: 80%;
    margin: 0 auto;
}
.section-title{
    color:#131313;
    font-family: Work Sans;
    font-size: 2.8rem;
    font-weight: 700;       
}
.section-description{
    color:#727272;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding: 24px 0;
}
.btn-primary{
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    color: #FFF;
    text-align: center;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    border: 0;
}
.text-center{
    text-align: center;
}
.hide{
    display: none;
}
/*Some Reusable styles*/

/* header section styles */
.header{
    background: rgba(255, 144, 14, 0.10);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3.2rem;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav a{
    padding-left: 30px;
    color:#424242;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
}
/* banner styles */
.banner{
    padding: 100px 0 70px;
}
.banner-heading{
    color:#131313;
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
}
.banner-content{
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}
.banner-des{
    padding: 30px;
}
.banner-img {
    padding-bottom: 45px;
}
.banner-img img{
    width: 100%;
}
/* header section styles */

/* Team section styles */
.teams-section{
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}
.teams-image-container{
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(2, 1fr);
    padding: 50px 0 50px 50px;
}
.teams-image-container img{
    width: 100%;
    height: 100%;
}
.teams-image-container, .teams-content{
    width: 50%;
}
.color1{
    color:#727272;
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 500;
}
.color2{
    color: #FF900E;
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;
}
.teams-des{
    padding: 24px 0;
}
/* Team section styles */

/* Feature section styles */
.feature-container{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.title2{
    padding-top: 0;
}
.feature-item{
    width: 45%;
    height: 100%;
}
.feature-item img{
    width: 100%;
    height: 900px;
}
.card{
    padding: 30px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    margin: 20px 0;
}
.card-title{
    color:#131313;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
}
.feature-box{
    width: 46%;
    border-radius: 8px;
    background: #FF900E;
    position: relative;
    top: -60px;
    right: 60px;
}
.feature-box h3{
    color: #FFF;
    text-align: center;
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;
    line-height: 70px;
}
.feature-box p{
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 500;
    line-height: 40px;
    text-align: center;
}
.feature-des{
    padding: 10px 0;
}
/* Feature section styles */

/* some fact section styles */
.some-fact{
    margin: 100px auto;
}
.max-width{
    max-width: 60%;
}
.card-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
}
.fact-card{
    text-align: center;
    border: 2px solid #FF900E;
}
.card-heading{
    color:#424242;
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 600;
}
.card-des{
    color:#727272;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
}
/* some fact section styles */

/* sponsors section styles */
.sponsors-section{
    text-align: center;
    margin: 200px auto 150px;
}
.sponsors-des{
    width: 70%;
    margin: 0 auto;
    padding: 50px 0;
}
.sponsors-logo-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-item{
    flex: 1;
}
.logo-item img{
    filter: grayscale();
}
/* sponsors section styles */

/* footer section styles */
.footer-section{
    border-radius: 8px;
    background: #FFF4E7;
    text-align: center;
    padding: 40px 0;
    margin: 120px auto;
}
.footer-description{
    color: #424242;
    text-align: center;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 400;
}
/* footer section styles */

/* Responsive styles */
/* table devices */
@media screen and (max-width: 992px) {
    .container  {
        max-width: 95%;
        margin: 0 auto;
    }
    nav {
        display: flex;
        flex-direction: column;
    }
    nav a{
        padding: 0;
        margin: 12px;
    }
    .section-title, .banner-heading:first-child{
        padding: 20px 0;
    }
    .banner-heading {
        font-size: 3rem;
    }
    .banner-des {
        padding: 20px 0;
    }
    .banner{
        padding: 0;
    }
    .btn-primary {
        padding: 15px 20px;
        font-size: 16px;
    }
    .banner-img{
        margin-top: 50px;
    }
    .feature-container, .teams-section{
        flex-direction: column;
    }
    .feature-item, .sponsors-des{
        width: 100%;
    }
    .feature-img{
        margin-left: 30%;
    }
    .feature-img img{
        width: 70%;
        height: 100%;
    }
    .teams-image-container, .teams-content{
        width: 100%;
        padding-left: 0;
    }
    .btn-center{
        text-align: center;
        margin: 0 auto;
        margin-bottom: 130px;
    }
    .feature-box{
        min-width: 200px;
    }
    .section-title{
        text-align: center;
    }
    .section-description{
        text-align: center;
        margin: 0 auto;
    }
    .card-container{
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(2, 1fr);
    }
    .card-heading{
        font-size: 30px;
    }
    .card-des{
        font-size: 20px;
    }
    .max-width {
        max-width: 100%;
    }
    .sponsors-logo-container{
        flex-direction: column;
        gap: 30px;
        height: 100%;
    }
    .footer-section{
        margin: 120px auto;
    }
    .feature-des{
        text-align: left;
    }
}
/* table devices */

/* mobile devices */
@media screen and (max-width: 576px) {
    .container  {
        max-width: 95%;
        margin: 0 auto;
    }
    nav {
        display: flex;
        flex-direction: column;
    }
    nav a{
        padding: 0;
        margin: 12px;
    }
    .section-title, .banner-heading:first-child{
        padding: 20px 0;
    }
    .banner-heading {
        font-size: 3rem;
    }
    .banner-des {
        padding: 20px 0;
    }
    .banner{
        padding: 0;
    }
    .btn-primary {
        padding: 15px 20px;
        font-size: 16px;
    }
    .banner-img{
        margin-top: 50px;
    }
    
    .feature-container, .teams-section{
        flex-direction: column;
    }
    .feature-item, .sponsors-des{
        width: 100%;
    }
    .feature-img{
        margin-left: 30%;
    }
    .feature-img img{
        width: 70%;
        height: 100%;
    }
    .teams-image-container, .teams-content{
        width: 100%;
        padding-left: 0;
    }
    .btn-center{
        text-align: center;
        margin: 0 auto;
        margin-bottom: 130px;
    }
    .feature-box{
        min-width: 200px;
    }
    .section-title{
        text-align: center;
    }
    .section-description{
        text-align: center;
        margin: 0 auto;
    }
    .card-container{
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(2, 1fr);
    }
    .card-heading{
        font-size: 30px;
    }
    .card-des{
        font-size: 20px;
    }
    .max-width {
        max-width: 100%;
    }
    .sponsors-logo-container{
        flex-direction: column;
        gap: 30px;
        height: 100%;
    }
    .footer-section{
        margin: 120px auto;
    }
}
/* mobile devices */
/* Responsive styles */

